<html>
  <head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
.main
{
color: white;
padding-left: 30em;
padding-top: 5em;
}
</style>

  </head>
  <body background="{{url_for('static', filename='land_s_end-wallpaper-1600x900.jpg')}}">



<div class="main">
   <h1>Medibot</h1>
<i> A simple suggestion can improve health </i>
<button type="button" onclick="window.location.href='http://127.0.0.1:5000/medi'" class="btn btn-primary">Start Asking</button>
</div>	

<footer class="main">
   <small>&copy; Copyright 2019, Medibot Inc</small>
</footer>
  </body>

</html>